* {
	background-color:#566170;
}
.heading {
	border:1px solid #776472;
	text-align:center;
}
h1 {
	color:#E2E2E2;
	font-family: 'Devonshire', cursive;
}
.about {
	font-family: 'Titillium Web', sans-serif;
	color:#99B0B5;
	border:1px solid #B2A2BF;
	margin-right: 200px;
}
.portrait {
	height:200px;
}
.sequence {
	width:270px;
}
.profile {
	height:100px;
}
.vignette1 {
	height:200px;
}
.vignette2 {
	width:300px;
}
p .header  {
	color:#99B0B5;
	font-family: arial;
}
.flexcontainer {
	display:flex;
	flex-direction: row;
	justify-content: space-around;
}
img {
	display: inline-block;
}
a:link {
	text-decoration: none;
	color:#99B0B5;
}
a:visited {
	color:#E9F2F5;
}
a:hover {
	text-shadow: 2px 2px 8px #000000;
}